<!DOCTYPE html>
<html>
<head>
	<title>DATABASE</title>

	<style>
		* {
			font-family: monospace;
		}
	</style>
</head>
<body">
	<center>
		<p class="lead">you found the "database" congratulations lol</p>
		<br>
		<p>go to /api to see all the data i guess, its not formatted so good luck reading it</p>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;"></iframe>
	</center>
</body>
</html>
